@import "tailwindcss";

body {
  font-family: "Manrope";
}

.btn-main {
  @apply bg-blue-600 text-white font-extrabold py-4 px-12 rounded-2xl text-lg  cursor-pointer hover:bg-blue-500 hover:shadow-md transition-all delay-[50ms];
}
.btn-main-sm {
  @apply bg-blue-600 text-white font-bold py-2 px-4 rounded-lg  cursor-pointer hover:bg-blue-500 hover:shadow-md transition-all delay-[50ms];
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-5px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes slideUp {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-50%);
  }
}

.animate-slide-up {
  animation: slideUp 30s linear infinite;
}

@keyframes cardSlide {
  0% {
    transform: translateX(100%);
    opacity: 0;
  }
  10%,
  90% {
    transform: translateX(0);
    opacity: 1;
  }
  100% {
    transform: translateX(-100%);
    opacity: 0;
  }
}

.animate-card-slide {
  animation: cardSlide 3s ease-in-out;
}

/* Add this new animation for the horizontal slider */
@keyframes slideLeft {
  0% {
    transform: translateX(0);
  }
  100% {
    /* Move by exactly the width of the original persons array */
    transform: translateX(-50%);
  }
}

.animate-slide-left {
  animation: slideLeft 5s linear infinite;
}
