@import "tailwindcss";

body {
  font-family: "Manrope";
}

.btn-main {
  @apply bg-blue-600 text-white font-extrabold py-4 px-12 rounded-2xl text-lg  cursor-pointer hover:bg-blue-500 hover:shadow-md transition-all delay-[50ms];
}
.btn-main-sm {
  @apply bg-blue-600 text-white font-bold py-2 px-4 rounded-lg  cursor-pointer hover:bg-blue-500 hover:shadow-md transition-all delay-[50ms];
}
@keyframes slideUp {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-50%);
  }
}

.animate-slide-up {
  animation: slideUp 30s linear infinite;
}
